h1 {
  color: aqua;
}
span {
  color: blueviolet;
}
div {
  font-size: x-large;
}
#saludo {
  background-color: chocolate;
  color: beige;
}
.classic {
  background-color: blue;
  color: beige;
}

.back {
  background-color: chocolate;
  color: beige;
}
button.classic.primary.large {
  background-color: brown;
  color: beige;
}