h1 {
  color: aqua;
}
span {
  color: blueviolet;
}
div {
  font-size: x-large;
}
#saludo {
  background-color: hsl(235, 12%, 43%);
  color: rgb(0, 0, 0);
}
.classic {
  background-color: blue;
  color: beige;
}

.back {
  background-color: chocolate;
  color: beige;
  short
}
button.classic.primary.large {
  background-color: brown;
  color: beige;
}
div[lang] {
  font-weight: bold;
  background-color: aquamarine;
}
.box p {
  color: red;
}
.box p {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

p {
  border-radius: 10px;
}

div {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.seccion div {
  background-image: ""
}