h1 {
  color: aqua;
}
span {
  color: blueviolet;
}
div {
  font-size: x-large;
}
#saludo {
  background-color: chocolate;
  color: beige;
}
.classic {
  background-color: blue;
  color: beige;
}

.back {
  background-color: chocolate;
  color: beige;
  short
}
button.classic.primary.large {
  background-color: brown;
  color: beige;
}
div[lang] {
  font-weight: bold;
  background-color: aquamarine;
}
.box p {
  color: red;
}
p {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}